
body {
    font-family: Arial, Verdana, sans-serif;
    margin-left: 100px;
    background-color: rgb( 255, 230 ,200);
    
}

h1{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    color: red;
    background-color: rgb(255, 204, 204);
    padding: 1em;
    border: 3px solid red;
    
}

figure#floating {
    float: right;
}
section#factbox {
    float: left;
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
}
nav {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 100px;
}
body {
    font-family: Arial, Verdana, sans-serif;
    margin-left: 200px;
}
table{
    
    table-layout: fixed;
    font-family: Arial;
    width: 70%;
    white-space: nowrap;
  border-spacing: 0;
    background-color: rgb(255, 204, 204);
}

th{
    border: 1px solid black;
    background-color: rgb(220, 200, 200);
}
td{
    border: 1px solid black;
}

section#short {
    float: left;
    border: 2px solid black;
    margin: 2em;
    padding: 1em;
    background-color: rgb(255, 204, 204);
}
.joo{
    color: blue;
    
}